body {
  color: #efeff1 !important;
  /*background-color: #0e0e10 !important;
  background-image: url(./images/ManantialO.png);
  background-repeat: no-repeat;
  background-size: cover;*/
}

.buttonMenu{
  color: #efeff1 !important;

}
.btn-back:hover{
  color: #efeff1;
  
}

.event-name-text{
  text-decoration:none;
  color: #000000 !important;
}


.input-form{
  color: #efeff1 !important;
}

.menu{
  padding: 2rem!important;
}
.item {
  border-radius: 8px;
  padding: 1rem!important;
  /*background-color: #26262c;*/
  background-color: rgba(255, 255, 255, 0.61);
  color: rgb(0, 0, 0);
}

.bg-form-dark {
  background-color: #1f1f23 !important;
}

.btn-add-item {
  background-color: #772ce8 !important;
  border-color: #772ce8 !important;
}

.btn-add-item:hover {
  background-color: #5c16c5 !important;
  border-color: #5c16c5 !important;
}

.tm-bg-black-transparent {
  background-color: rgba(15, 29, 32, 0.76);
  color: white;
}
.tm-bg-white-transparent {
  background-color: rgba(213, 228, 231, 0.76);
  color: white;
}