.backgroundConteiner{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, #014421 35%, #4CBB17 100%);
  width: 100% ;
}
.textField{
  height: 32px;
    width: 200px;
    border: 1px solid #e5e5e5;
    padding: 0 32px 0 16px;
}

.textField:hover {
  cursor: pointer;
}

.btnBuscar{
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: white;
}

.barraBusqueda{
  float: right;
  padding: 20px;
}


